<head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style_ss.css">
  <title>Boston Daily</title>
</head>

<div id="page">
  <div class="date bold">
    <div>{{datei}}</div>
    <div></div>

  </div>
  <div id="header">

    <div class="section">
      <div class="content">
        <h4>{{t_19_a}}</h4>
        <p>{{t_19}}<br><a href={{t_19_l}}><span class="bold italic"> Complete Story Here</span></a></p>
      </div>
    </div>
    <div class="section middle">
      <div class="content">
        <h1 id="title">Sporty Hunt</h1>
        <p class="italic sub">Your daily dose of sports news</p>
      </div>
    </div>
    <div class="section">
      <div class="content">
        <h4>{{t_20_a}}</h4>
        <p>{{t_20}}<a href={{t_20_l}}><span class="bold italic"> Complete Story Here</span></a></p>
      </div>
    </div>
  </div>


  <!--   scondary header -->
  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_1_a}}</h4>
        <h3>{{a}}</h3>
        <p>{{t_1}}<a href={{t_1_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_2_a}}</h4>
        <h3>{{b}}</h3>
        <p>{{t_2}}<a href={{t_2_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_3_a}}</h4>
        <h3>{{c}}</h3>
        <p>
{{t_3}}<a href={{t_3_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>

  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_4_a}}</h4>
        <h3>{{d}}</h3>
        <p>{{t_4}}<a href={{t_4_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_5_a}}</h4>
        <h3>{{e}}</h3>
        <p>{{t_5}}<a href={{t_5_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_6_a}}</h4>
        <h3>{{f}}</h3>
        <p>
{{t_6}}<a href={{t_6_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_7_a}}</h4>
        <h3>{{g}}</h3>
        <p>{{t_7}}<a href={{t_7_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_8_a}}</h4>
        <h3>{{h}}</h3>
        <p>{{t_8}}<a href={{t_8_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_9_a}}</h4>
        <h3>{{i}}</h3>
        <p>
{{t_9}}<a href={{t_9_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>

  
  <br>
  <br>
  <br>

  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_10_a}}</h4>
        <h3>{{j}}</h3>
        <p>{{t_10}}<a href={{t_10_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_11_a}}</h4>
        <h3>{{k}}</h3>
        <p>{{t_11}}<a href={{t_11_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_12_a}}</h4>
        <h3>{{l}}</h3>
        <p>
{{t_12}}<a href={{t_12_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_13_a}}</h4>
        <h3>{{m}}</h3>
        <p>{{t_13}}<a href={{t_13_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_14_a}}</h4>
        <h3>{{n}}</h3>
        <p>{{t_14}}<a href={{t_14_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_15_a}}</h4>
        <h3>{{o}}</h3>
        <p>
{{t_15}}<a href={{t_15_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div id="secondary-header">
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_16_a}}</h4>
        <h3>{{p}}</h3>
        <p>{{t_16}}<a href={{t_16_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_17_a}}</h4>
        <h3>{{q}}</h3>
        <p>{{t_17}}<a href={{t_17_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
    <div class="secondary-section">
      <div class="content">
        <h4>{{t_18_a}}</h4>
        <h3>{{r}}</h3>
        <p>
{{t_18}}<a href={{t_18_l}} class="more"> Complete Story Here</a></p>
      </div>
    </div>
  </div>





  
